.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 60px 100px 60px 80px;

}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}



.footer__list-item{
  list-style: none;
}