.header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 45px;
}

.header__title {
  font-family: "Sekuya";
  font-weight: 900;
}

@media screen and (max-width: 534px) {
  .header {
    flex-direction: column !important;
    align-items: center !important;
    margin: 20px 0 !important;
    min-width: 100%;
  }

  .header__title {
    font-size: 1.4rem !important;
    min-width: 0; 
    text-align: center;
  }
}